<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Evas</servlet-name>
		<servlet-class>com.revature.frontend.EvasServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.revature.frontend.BasicLogin</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.revature.frontend.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>Service</servlet-name>
	<servlet-class>com.revature.frontend.ServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LiveUserServlet</servlet-name>
		<display-name>LiveUserServlet</display-name>
		<description></description>
		<servlet-class>com.revature.frontend.LiveUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SettingsServlet</servlet-name>
		<display-name>SettingsServlet</display-name>
		<description></description>
		<servlet-class>com.revature.frontend.SettingsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>Service</servlet-name>
	<url-pattern>/service/</url-pattern>
	</servlet-mapping>
	


	<servlet-mapping>
		<servlet-name>Evas</servlet-name>
		<url-pattern>/evas</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/BasicLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LiveUserServlet</servlet-name>
		<url-pattern>/LiveUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SettingsServlet</servlet-name>
		<url-pattern>/UpdateSettings</url-pattern>
	</servlet-mapping>

</web-app>
