*{
    background-color: #ffffff;
}

/* .banner{
} */

#recent-activity, #new-report{
    /* margin: 10px; */
    background-color: #dadada;
    border-radius: 8px;
}
/* .col{
    border:2px  red dotted;
} */

/* When I need a heading or some element to inherit the
color of the parent, I place them in this class: */
.inherit{
    background-color: inherit;
}

/* table {
    border-spacing: 5px;
  } */
table, th, td{
    border: 1px black solid;
    padding-right: 10px;
    padding-left: 10px;
}

#account-button{
    margin: auto;
}

/* div div div{
    color: white;
} */